body {
    
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 0;
    
}

/* STYLING FIRST SECTION */

.first-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 100px;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 100px;


}

.header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    font-size: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #bebfc2;
    font-weight: lighter;
}

.logo {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 20px;
    
}

.content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 80px;
}

.main-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;

}

.imagebox {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #bebfc2;
    font-weight: lighter;
}

button {
    background-color: #3882F6;
    border: none;
    text-decoration: none;
    border-color: #1F2937;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    color: #F9FAF8;
    font-size: 18px;
}

.imagebox {
    background-color: rgb(93, 93, 93);
    display: flex;
    align-items: center;
    justify-content: center;
}
.image {
    color: #bebfc2;  
}

/*STYLING SECOND SECTION*/

.second-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 200px;
    padding-right: 200px;
    gap: 60px;
    
}
.second-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.illiustration-box {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 40px;
    
}

.ilone, .iltwo, .ilthree, .ilfour {
    display: flex;
    flex: 0;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
}
.imgplace {
    width: 150px;
    height: 150px;
    border: solid 4px #3882F6;
    border-radius: 10px;
}
.imgtxt {
    color: #6d6d6d;
}

/* STYLING THIRD SECTION */

.third-section {
    display: flex;
    flex: 0;
    flex-direction: column;
    background-color: #E5E7EB;
    color:#1F2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 10px;
}
.quote {
    display: flex;
    flex: 0;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    justify-content: center;

}
.namesec {
    display: flex;
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    justify-content: flex-end;

}